* {
  box-sizing: border-box;
}



body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
}



header {
  padding: 40px;
  text-align: center;
  background:#f1c2dad5 ;
  color:#ffffff;
}



nav {
  display: flex;
  background-color: #ec88bcd5;
  padding: 10px;
  flex: 100 100 400px;
}


nav a {
  color: #ffffff;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  flex: 100 100 400px;
}


main {
  display: flex;
  background-color: #f1c2dad5;
  color:#ffffff
}



.card {
  
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 100 100 400px;


}

.card header {
padding: 20px;

}

.card p {
  text-align: center;
}



@media screen and (max-width: 400px)
.card {
  width: 100%
}

@media screen and (max-width: 600px)
.card {
  width: 50%
}

